@charset "UTF-8";

body {
    background-color: rgb(7, 16, 24);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(84, 99, 112);
    text-align: center;
}
h1{
    color: rgb(142, 163, 182);
}
h2{
    color: rgb(142, 163, 182);
}
h3{
    color: rgb(142, 163, 182);
}